.div-black{
    background-image: url(./download.jfif);
    background-size: contain;

}

.div-white{
    background-color: white;
    border: 1px solid black;
}

#row{
   display: flex;
   justify-content: center;
    
}

#main-div{
    margin-top: 10%;
    margin-bottom: 10%;
}