.div-black{
    background-color: #55829c;

}

.div-white{
    background-color: #99b9cc;

}

#row{
   display: flex;
   justify-content: center;
    
}

#main-div{
    margin-top: 10%;
    margin-bottom: 10%;
}